@import url('https://fonts.cdnfonts.com/css/metropolis-2');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$main-color: #fff;
$accent-color: #FEF9FC;
$pink-color: #FFEAF5;
$main-text-color: #343434;
$black-text-color: #010101;
$pink-text-color: #ED017F;
$grey_text-color: #676767;
$main-font: 'Metropolis', sans-serif;
$accent-font: "Rubik", sans-serif;